node_modules
/public/*
!/public/web.config
!/public/robots.txt
!/public/mix-manifest.json
!/public/index.php
!/public/.htaccess
/storage/*.key
/resources/views/errors
/vendor
.env
.env.dusk
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
build
.php_cs.cache
reports
/*.sql
/result-parsed.json
/trie.json
/yarn.lock
/spec.apib
/storage/coverage
*.phar
